// FONTS
@font-face {
   font-family: "Helvetica-regular";
   src: url("../fonts/HelveticaNeue\ Regular.eot") format("embedded-opentype"),
      url("../fonts/HelveticaNeue\ Regular.otf") format("otf"),
      url("../fonts/HelveticaNeue\ Regular.woff") format("woff"),
      url("../fonts/HelveticaNeue\ Regular.ttf") format("ttf");
}
@font-face {
   font-family: "Helvetica-bold";
   src: url("../fonts/helveticaneuecyr-bold.eot") format("embedded-opentype"),
      url("../fonts/helveticaneuecyr-bold.otf") format("otf"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"),
      url("../fonts/helveticaneuecyr-bold.ttf") format("ttf");
}
@font-face {
   font-family: "Helvetica-medium";
   src: url("../fonts/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"),
      url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
      url("../fonts/HelveticaNeueCyr-Medium.ttf") format("ttf");
}
@font-face {
   font-family: "Pacifico";
   src: url("../fonts/Pacifico.eot") format("embedded-opentype"), url("../fonts/Pacifico.otf") format("otf"),
      url("../fonts/Pacifico.woff") format("woff"), url("../fonts/Pacifico.ttf") format("ttf");
}

$ff-regular: "Helvetica-regular", sans-serif;
$ff-medium: "Helvetica-medium", sans-serif;
$ff-bold: "Helvetica-bold", sans-serif;
// Width
$desktopwidth: 1020px;
$level_1: 1120px;
$level_2: 950px;
$level_3: 768px;
$level_4: 500px;
$level_5: 320px;

.container {
   max-width: $desktopwidth;
   margin: 0 auto;
   padding: 0 15px;
}

.hover-btn:hover {
   background-color: #ffffff;
   color: #257dba;
   border: 1px solid #3d94d1;
}
.hover-header__link:hover {
   color: #3d94d1;
   text-decoration: underline;
}
.hover-text:hover {
   color: #4b6374;
   text-decoration: underline;
}
.hover-social:hover {
   filter: drop-shadow(0 0 6px #0096ff);
}

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
section,
nav,
footer,
header,
aside {
   display: block;
}
body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 10px;
   font-family: $ff-regular, sans-serif;
   min-width: $level_5;
   min-height: 100vh;
   width: 100%;
   line-height: 1;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
// Для iphone
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
// Конец
// Убрать/невидимка стрелочку у input
input::-webkit-calendar-picker-indicator {
   opacity: 0;
}
// Конец

button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
